body, nav {
    background-color: #444;
    margin: 0;
    font-family: "Merriweather", serif;
    font-size: 18px;
    font-weight: 400;    
    padding-bottom: 5px;
    color: #eee;
}

h1 {
    font-size: 27px;
    letter-spacing: -2px;
    line-height: 27px;
    margin: 0 0 9px 0;
    color: #ddd;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

nav {
    letter-spacing: -2px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

hr {
    margin-block-start: 1em;
    border-width: 0.5px;
    margin-inline-end: 27%;
    margin-inline-start: 27%;
    border-color: #fd4;
}

header {
    text-align: center;
}

.avatar {
    width: 45%;
    max-width: 180px; 
    margin: 25px 0;
    border-radius: 50%;
    border: solid 3px #ddd;
    box-shadow: 0 0 0.6em #333;
}

.summary, .links {
    text-align: center;
}

.summary > p {
    margin-block-end: 0.1em;
    margin-block-start: 0.1em;
}

.links {
    margin-block-start: 12px;
}

.icon-twitter {
    width: 50px;
    height: 50px;
}

.links {
    fill: #fd4;
    color: #fd4;
}
.links li {
    display: flex;
    align-items: center;
    justify-content: start; 
    cursor: pointer;   
}

.links ul {
    list-style-type: none;
    margin: 0 27%;
    padding: 0;
}

.links ul li span {
    margin-left: 5px;
}

.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fd4;
    display: block;
}

.portfolio {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.portfolio h1 {
    display: block;
    margin-bottom: 1rem;
}

.portfolio li {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.portfolio ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio > div {
    width: 70%;
}

.portfolio .card {
    border: none;
}

.portfolio .card > div {
    border: solid 2px #ddd;
    box-shadow: 0 0 0.6em #333;
    border-radius: 0.5rem;
}

.portfolio h5 {
    color: #fff;
}



@media only screen and (max-width: 600px) {
    
    body {
        font-size: 15px;
    }
    
    h1 {
        font-size: 24px;
        font-weight: 500;
    }    

    hr {
        margin-inline-end: 16.5%;
        margin-inline-start: 16.5%;
    }

    .links ul {
        margin: 0 16.5%;
    }

    .links > img {
        width: 20%;
    }
}

.btn-fab {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 1000;
    border-radius: 50%;
}